img {
  width: 200px;
}

.app-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

button {
  margin: 10px;
}